@{
    ViewData["Title"] = "Premium Calculator";
}

<h2>Premium Calculator</h2>
<script>

    document.addEventListener("DOMContentLoaded", function () {

        const occupationDropdown =
            document.getElementById("occupation");

        if (occupationDropdown) {

            occupationDropdown.addEventListener(
                "change",
                calculatePremium
            );
        }
    });

    async function calculatePremium() {

        try {

            const data = {
                name: document.getElementById("name").value,
                ageNextBirthday: parseInt(document.getElementById("age").value),
                dateOfBirth: document.getElementById("dob").value,
                occupation: document.getElementById("occupation").value,
                deathSumInsured: parseFloat(document.getElementById("sumInsured").value)
            };

            const response = await fetch(
                "https://localhost:7239/api/premium/calculate",
                {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(data)
                });

            if (!response.ok) {

                const errorText = await response.text();

                console.error(errorText);

                alert("API Error Occurred");

                return;
            }

            const premium = await response.json();

            document.getElementById("result").innerHTML =
                "Monthly Premium: " + premium;

        }
        catch (error) {

            console.error(error);

            alert("Something went wrong");
        }
    }

</script>
<div class="container">

    <div class="mb-3">
        <label>Name</label>
        <input id="name" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Age Next Birthday</label>
        <input id="age" type="number" class="form-control" required />
    </div>

    <div class="mb-3">
        <label>Date Of Birth</label>
        <input id="dob" type="month" class="form-control" required />
    </div>

    <div class="mb-3">
        <label >Occupation</label>

        <select id="occupation" class="form-control" >
            <option value="">Select</option>
            <option>Doctor</option>
            <option>Author</option>
            <option>Cleaner</option>
            <option>Farmer</option>
            <option>Mechanic</option>
            <option>Florist</option>
            <option>Other</option>
        </select>
    </div>

    <div class="mb-3">
        <label>Death Sum Insured</label>
        <input id="sumInsured" type="number" class="form-control" required />
    </div>

    <div class="mb-3">
        <button onclick="calculatePremium()" class="btn btn-primary" >
            Calculate
        </button>
    </div>

    <h3 id="result"></h3>

</div>